<!DOCTYPE html>
<html>
<head>
  <title>Picstagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <center>
    <% if signed_in? %>
    <table>
      <tr>
        <td>
          Logged in as <%= current_user.username %>
        </td>
        <td>
          <%= button_to "Sign Out", sessions_url, :method => :delete %>
        </td>
      </tr>
    </table>
    <% else %>
    <table>
      <tr>
        <td>
          <%= link_to "Sign In", new_sessions_url %>
        </td>
        <td>
          <%= link_to "Sign Up", new_user_url %>
        </td>
      </tr>
    </table>
    <% end %>
    <%= render "layouts/errors" %>
  </center>

  <div class="tall">
    <%= yield %>
  </div>
</body>
</html>
